<div class="bg-white rounded-2xl shadow-sm border border-gray-100 p-6">
    <h2 class="text-xl font-bold text-gray-800 mb-4">Sequence Analysis</h2>
    <div class="block w-full overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th
                        class="sticky left-0 bg-gray-50 z-10 px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider shadow-sm border-r">
                        Number
                    </th>
                    @for (number of numbers(); track $index) {
                    <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        {{ number }}
                    </th>
                    }
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                    <th
                        class="sticky left-0 bg-white z-10 px-4 py-2 text-left text-sm font-medium text-gray-900 whitespace-nowrap shadow-sm border-r">
                        Normal
                    </th>
                    @for (sequenceNumber of sequenceNumbers(); track $index) {
                    <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-900">
                        {{ sequenceNumber.count }}
                    </td>
                    }
                </tr>
                <tr>
                    <th
                        class="sticky left-0 bg-white z-10 px-4 py-2 text-left text-sm font-medium text-gray-900 whitespace-nowrap shadow-sm border-r">
                        Max
                    </th>
                    @for (sequenceNumber of sequenceNumbers(); track $index) {
                    <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-900">
                        {{ sequenceNumber.max }}
                    </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>